@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair", serif;
}

body{
    background: #bbc6fa;
}

.quote-box{
    background: #fff;
    width: 43.75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.5rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.quote-box h2{
    font-size: 2rem;
    margin-bottom: 40px;
    position: relative;
}

.quote-box h2::after{
    content: '';
    width: 4.8rem;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.quote-box blockquote{
    font-size: 1.625rem;
    min-height: 6.875;
}

.quote-box blockquote::before, .quote-box blockquote::after{
    content: '"';
}

.quote-box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.quote-box span::before{
    content: '';
    width: 1.25rem;
    height: 0.125rem;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -1.875rem;
}

.quote-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quote-box button{
    background-color: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(23, 124, 229);
    width: 9.375rem;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

.quote-box button img{
    width: 20px;
    margin-right: 10px;
}

.quote-box button:nth-child(2){
    background: transparent;
    color: #333;
}

















